.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1600px;
  margin: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.w-100 {
  width: 100%;
}
.header_todo {
  padding: 10px 20px;
  border-bottom: 1px solid #ced4da;
}
.paddingx_20 {
  padding: 0 20px;
}
.line_height_2 {
  line-height: 2;
}
.font_weight_500 {
  font-weight: 500;
}
.btn-light {
  color: #212529;
  background-color: #ced4da;
  border-color: #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  border-radius: 0.25rem;
  cursor: pointer;
}
.form_details label {
  margin-bottom: 10px;
  color: #212529;
}
.form_details input {
  float: left;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
}
.form_details input:active,
.form_details input:focus,
.form_details input:focus-within {
  outline: none;
}
.submit {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-bottom: 10px;
}
.heading {
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ced4da;
}
.heading_card {
  font-weight: 700;
  padding: 10px 0;
}
.border_bottom {
  border-bottom: 1px solid #ced4da;
  margin-bottom: 5%;
}
.todo_card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1.25rem;
}
.todo_card_text {
  font-size: 14px;
  margin-bottom: 10px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  border-radius: 0.25rem;
  cursor: pointer;
}
.btn-info {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  border-radius: 0.25rem;
  cursor: pointer;
}
.display_flex {
  display: flex;
  justify-content: space-between;
}
.px_20 {
  padding: 0 20px;
}
